* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: #151819;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

/* TEXT */
h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 8vw;
  padding: 20vw 0vw 3vw 5vw;
  letter-spacing: 0.02vw;
  text-shadow: 2px 2px #000000;
  position: absolute;
  z-index: 1;
}
h2 {
  font-family: Georgia, serif;
  font-size: 6vw;
  color: #151819;
  padding: 3vw 0vw 3vw 5vw;
  letter-spacing: 0.2vw;
  -webkit-text-stroke: 2px white;
}
h3 {
  font-family: 'Heebo', sans-serif;
  font-size: 6vw;
  padding: 3vw 0vw 3vw 5vw;
  letter-spacing: 0.2vw;
  text-align: center;
}
h4 {
  font-size: 3vw;
  padding: 4vw 4vw 3vw 5vw; 
}
p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5vw;
}

/* Nav Bar */
.navbar {
  padding: 40px 16px; 
  position: absolute;
  top: 0;
  right: 2px;
  margin-left: 50px;
  font-size:16px;
  text-shadow: #000 2px 0 10px;
  z-index: 1;
}

/* Side Nav */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 16px;
  padding-top: 30px;
  font-size: 36px;
  margin-left: 50px;
}

/* Landing */
.landing {
  position: absolute;
  height: 65vw;
  width:  100vw;
  z-index: -2;
  opacity: 75%;
  padding: 15px;
}
#first{
  webkit-clip-path: clip-path: polygon(0 0, 75% 0, 50% 100%, 0% 100%);
  clip-path: polygon(0 0, 75% 0, 50% 100%, 0% 100%);
  width: 35%;
}
#middle {
  cebkit-clip-path: clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  width: 35%;
}
#last {
  cebkit-clip-path: clip-path: polygon(50% 0, 100% 0, 100% 100%, 25% 100%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 25% 100%);
  width: 35%;
}
#landing{
  width: 100%;
  height: 75%;
}

/* Posters */
.poster {
  margin: 4vw;
  width: 25vw;
  height: 35vw;
  float: left;
  opacity: 75%;
}
.poster:hover{
  opacity: 100%;
  transform: scale(1.01);
}

/* Reviews */
.reviews {
  margin: 3vw;
  background-color: #101010; 
  height: 44vw;
}
.title{
  font-family: 'Roboto Slab', serif;
  font-style: italic;
}
.date {
  float: right;
  font-size: 1.8vw;
}
.description {
  overflow: hidden;
  height: 30vw;
  padding: 0;
  margin-right: 3vw;
}
.description:hover{
  overflow-y: auto;
}
#expand{
  float: right; 
  font-size: 1.7vw; 
  padding-right: 3vw;
  color: white;"
}

.dropbtn {
  background-color: #151819;
  color: white;
  margin-left: 3vw;
  font-size: 2vw;
  border: none;
}
.dropdown{
  position: relative;
  display: inline-block;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  margin-left: 3vw;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}


/*Animated Titles*/
  /* Trigger */
  .animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  /* Delays */
  .one {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
  } 
  /* Fade Out*/
  @-webkit-keyframes fadeOut {
    from {
      opacity: 1;
    }

    to {
      opacity: 0.75;
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }

    to {
      opacity: 0.75;
    }
  }
  .fadeOut {
      -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
  }

/* Scroll Bar */
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
